.card {
    margin-bottom: 30px;
    background-color: white;
    color: black;
    font-family: 'Ubuntu';
}

.mat-card-subtitle {
    color: black;
}

.img-thumbnail {
    height: 40vh;
}

.checked {
    color: #ffc107;
}

.add-cart {
    color: green;
}

.listProvider {
    margin: 12px 40px 12px 40px;
}

.listingTop {
    top: 20px;
    position: relative;
    color: white;
    font-family: 'Ubuntu';
}

.search {
    color: white;
    width: 100%;
}