.card {
    margin-bottom: 30px;
    background-color: white;
    color: black;
    font-family: 'Ubuntu';
}

.mat-card-subtitle {
    color: black;
}

.checked {
    color: #ffc107;
}

.listingTop {
    top: 20px;
    position: relative;
    color: white;
    font-family: 'Ubuntu';
}

.search {
    color: white;
    width: 100%;
}

.mat-form-field {
    color: white;
}

.selectClass {
    margin: 10px;
    font-family: 'Ubuntu';
    background-color: #303030;
}

.checked {
    color: #ffc107;
}

.size {
    font-size: 20px;
}

.mat-expansion-panel {
    background-color: white;
    color: black;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    color: black
}

::ng-deep {
    .mat-expansion-indicator::after {
        color: black
    }
}