.card {
    margin-bottom: 30px;
    background-color: #424242;
    color: white;
    font-family: "Ubuntu";
}

.borderTye {
    border: solid 2px white;
}

.mat-card-subtitle {
    color: white;
}

.img-thumbnail {
    height: 25vh;
}