.card {
    margin-bottom: 10px;
    background-color: white;
    color: black;
    font-family: 'Ubuntu';
    cursor: pointer;
    width: 100%;
}

.img-thumbnail {
    height: 43vh;
}

.header {
    color: white;
    font-family: 'Ubuntu';
    margin: 12px
}